<!doctype html>
<meta charset="utf8">
<title>Assignment 1 (HTML) - CS 3550</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">

{% include "header.html" with title=assignment.title %}

<main>
    <header>
        <h2>{{ assignment.title }}</h2>
        <p>Due {{ assignment.deadline|date:"Y-m-d" }}, total of {{ assignment.points }} point{{ assignment.points|pluralize }}</p>
    </header>

    {% if is_student %}
    <section class="action-card">
        <h3>Your Submission</h3>

        {% if alice_submission %}
            {% if alice_submission.score is not None %}
                <p>Your submission, {{ alice_submission.file.name }}, received {{ alice_submission.score }}/{{ assignment.points }} points ({{ percentage_score }}%).</p>
            {% elif assignment.deadline < now %}
                <p>Your submission, {{ alice_submission.file.name }}, is being graded.</p>
            {% else %}
                <p>Your current submission is {{ alice_submission.file.name }}.</p>
            {% endif %}
        {% else %}
            {% if assignment.deadline < now %}
                <p>You did not submit this assignment and received 0 points.</p>
            {% else %}
                <p>No current submission.</p>
            {% endif %}
        {% endif %}

        {% if assignment.deadline >= now and user.is_authenticated %}
            {% if error %}
            <output class="error"><strong>{{ error }}</strong></output>
            {% endif %}

        <form action="/{{ assignment.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="submission_file" required accept="application/pdf">
            <button type="submit">Submit</button>
        </form>
        {% endif %}
    </section>
{% endif %}

    <section class="action-card">
        <h4>Description</h4>
        <p>{{ assignment.description|safe }}</p>
        <img src="/static/assignments.png" alt="image of a page you will make containing all assignments">
    </section>
</main>