<!doctype html>
<meta charset="utf8">
<title>Assignment 1 (HTML) - CS 3550</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">

{% include "header.html" with title=assignment.title %}

<main>
    <header>
        <h2>{{ assignment.title }}</h2>
        <p>Due {{ assignment.deadline|date:"Y-m-d" }}, total of {{ assignment.points }} point{{ assignment.points|pluralize }}</p>
    </header>

    <section>
        <p>Currently {{ total_submissions }}/{{ total_students }} submission{{ total_submissions|pluralize }}</p>
        <p>{{ user_submissions }} submission{{ user_submissions|pluralize }} assigned to you <a href="/{{ assignment.id }}/submissions">Grade</a></p>
    </section>

    <section class="action-card">
        <h3>Description</h3>
        <p>{{ assignment.description|safe }}</p>
        <img src="/static/assignments.png" alt="image of a page you will make containing all assignments">
    </section>
</main>