<!doctype html>
<meta charset="utf8">
<title>Log in - CS 3550</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">

{% include "header.html" with title="Log in" %}

<main>
    <h2>Log in</h2>
    <form class="login" method="post" action="/profile/login/">
        {% csrf_token %}

        <div class="form-row">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" autofocus tabindex="1">
        </div>

        <div class="form-row">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" tabindex="2">
        </div>

        <div class="form-row">
            <button tabindex="3">Log in</button>
        </div>
    </form>
</main>    