<!doctype html>
<meta charset="utf8">
<title>Your grades - CS 3550</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">

{% include "header.html" with title="Profile" %}

<main>
    <h2>Your grades</h2>
    <section class="action-card">
        <p>
            Currently logged in as {{ user.get_full_name|default:user.username }}.
            <a href="/profile/login/" role="button">Log out</a>
        </p>
    </section>

    {% if is_ta_or_admin %}
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="right">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for data in profile_data %}
            <tr>
                <td><a href="/{{ data.assignment.id }}/">{{ data.assignment.title }}</a></td>
                <td class="right">{{ data.graded_count }}/{{ data.total_assigned }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif is_student %}
    <table class="sortable">
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="sort-column">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for data in student_data %}
            <tr data-index="{{ forloop.counter }}">
                <td><a href="/{{ data.assignment.id }}/">{{ data.assignment.title }}</a></td>
                <td>{{ data.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><strong>Current grade: {{ current_grade }}%</strong></td>
            </tr>
        </tfoot>
    </table>
{% endif %}
</main>
