<!doctype html>
<meta charset="utf8">
<title>Your grades - CS 3550</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">

{% include "header.html" with title="Profile" %}

<main>
    <h2>Your grades</h2>
    <section class="action-card">
        <p>Currently logged in as g. <a href="/profile/login/" role="button">Log out</a></p>
    </section>

    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="right">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for data in profile_data %}
            <tr>
                <td><a href="/{{ data.assignment.id }}/">{{ data.assignment.title }}</a></td>
                <td class="right">{{ data.graded_count }}/{{ data.total_assigned }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
