/* Phase 2 */
main {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.25;
    /* Phase 4 */
    padding: 0 1rem;
    margin-bottom: 1rem;
}

header {
    font-size: 1.25rem;
    /* Phase 4 */
    background-color: #ddd;
    box-shadow: 0 0 5px #ddd;
    padding: 0.5rem 1rem;
}

header h1 {
    font-weight: bold;
}

code, pre {
    font-family: 'IBM Plex Mono', monospace;
}

table {
    line-height: 1.5;
    /* Phase 3 */
    width: 100%;
}

header nav a {
    /* Also Phase 4 */
    color: #444;
    font-weight: normal;
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    /* Phase 4 */
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1rem;
}

.login {
    font-size: 1.25rem;
}

/* Phase 3 */
header nav a:hover {
    text-decoration: underline;
}

.right {
    text-align: right;
}

thead th {
    text-align: left;
}

.form-row {
    margin-bottom: 1rem;
}

.form-row input {
    width: 50%;
    text-align: right;
}

.form-row button {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sub-links {
    display: flex;
}

/* Phase 4 */
html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddd;
    box-shadow: 0 0 5px #ddd;
    padding: 0.5rem 1rem;
}

header h1 {
    font-weight: bold;
    color: black;
}


.action-card {
    border: 1px solid #204a87;
    background-color: #b1c3de;
    padding: 1rem;
    margin-top: 1rem;
}